<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

</head>
<body class="bg-slate-200">
    <a href="{{ url_for('home' ) }}">home</a>
<div class="flex w-[100%] items-center justify-center ">
    <form method="POST" class="form flex flex-col rounded-xl bg-cyan-800 gap-3 w-[30%] items-center mt-[5%]">
        <h2 class="text-slate-100 font-semibold pt-3">Welcome back to Pythora!</h2>
        <h2 class="text-slate-200 ">Please Login...</h2>
        <input type="text" placeholder="enter username:" required name="username" class="p-3 border-1 outline-none border-slate-200 m-[2vh] rounded-xl text-slate-100 w-[85%]">
        <input type="password" required placeholder="enter password:" name="password" class="p-3 border-1 outline-none border-slate-200 m-[2vh] rounded-xl text-slate-100 w-[85%]">
        
        <button type="submit" class="mb-[4vh] bg-rose-200 hover:bg-rose-300 cursor-pointer rounded-xl p-2 w-[85%]">Register</button>
        <a href="{{ url_for('forget_password' ) }}" class="text-slate-100 border-3 p-2 border-cyan-800 border-b-rose-200 mb-[5vh] hover:border-b-rose-300">forgot password?</a>

    </form>

</div>


</body>
</html>